@import '../../shared/sass/variables.scss';
@import '../../shared/sass/mixins.scss';

.trending {
    background-color: $color-grey-l1;
    padding-top: 4.8rem;
    width: 100%;
    padding-left: 20px;
}