@import "../../../shared/sass/variables.scss";
@import "../../../shared/sass/mixins.scss";

.search-res-card {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 10rem 1.8fr;
  height: auto;

  @include respond(tab-port) {
    grid-template-columns: minmax(15rem, 0.75fr) 1.8fr;
  }
  .img-container {
    position: relative;
    // margin-bottom: 0;
    // width: 100%;
    padding-top: 56%;

    div {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;

        @include respond(tab-port) {
          position: absolute;
          left: 0;
          top: -50%;
          transform: translateY(50%);
        }
      }

      p.duration {
        position: absolute;
        z-index: 10;
        font-weight: 500;
        font-size: 0.7rem;
        color: $color-white;
        padding: 2px 3px;
        border-radius: 3px;
        background-color: rgba($color-black, 0.85);
        right: 3px;
        bottom: 7px;
        
        @include respond(tab-port) {
          right: 4px;
          bottom: 4px;
          font-size: 0.8rem;
        }
      }
    }
  }

  .details {
    display: flex;
    padding-left: 12px;
    width: 100%;

    @include respond(tab-port) {
      padding: 2px 0 0 15px;
    }

    &__text {
      h3 {
        font-weight: 400;
        color: $color-black;
        margin-bottom: 4px;
        font-size: 0.8rem;

        @include respond(tab-port) {
          font-size: 1.1rem;
        }
      }

      div.details__channel {
        display: flex;
        margin: 0;

        @include respond(tab-port) {
          margin: 10px 0;
        }

        .c-img {
          margin-right: 10px;
          display: none;

          @include respond(tab-port) {
            display: inline-block;
          }

          .icon {
            width: 25px;
            height: 25px;
          }
        }
      }

      p {
        display: flex;
        align-items: center;
        color: $color-grey-d1;
        flex-flow: row wrap;
        font-size: 0.7rem;

        @include respond(tab-port) {
          font-size: 0.75rem;
        }

        &:last-of-type {
          display: flex;
        }

        .s-circle {
          width: 3px;
          height: 3px;
          margin: 0 5px;
          background-color: $color-grey-d1;
          display: inline-block;
          border-radius: 50%;
        }

        &.details__description {
          display: none;
          @include respond(tab-port) {
            display: inline-block;
          }
        }
      }
    }
  }
}
