@import "../../../shared/sass/variables.scss";
@import "../../../shared/sass/mixins.scss";

.trending-vid-card {
    display: flex;
    // margin: 0 auto;
    margin-bottom: 15px;
    max-width: 51rem;

  .img-container {
    background-color: $color-grey-l4;

    position: relative;
    // overflow: hidden;

    div {
      width: 15.375rem;
      height: 8.625rem;

      img {
        position: absolute;
        top: -50%;
        left: 0;
        width: 100%;
        transform: translateY(50%);
      }

      p {
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 100;
        font-size: 0.8rem;
        font-weight: 500;
        color: $color-white;
        padding: 2px 3px;
        border-radius: 3px;
        background-color: rgba($color-black, 0.85);
      }
    }
  }

  .details {
    padding: 5px 0 0 20px;

    h3 {
      font-weight: 400;
      font-size: 0.9rem;
      color: $color-black;
      margin-bottom: 4px;
    }

    p {
      display: flex;
      align-items: center;
      color: $color-grey-d1;
      font-size: 0.75rem;

      &:last-of-type {
        margin-top: 10px;
      }

      .s-circle {
        width: 3px;
        height: 3px;
        margin: 0 5px;
        background-color: $color-grey-d1;
        display: inline-block;
        border-radius: 50%;
      }
    }
  }
}
