@import "../../../shared/sass/variables.scss";
@import "../../../shared/sass/mixins.scss";

.main-nav__list-item {
  @include respond(tab-port) {
    height: 4.4rem;
  }

  .navigation-link {
    padding: 0;
    color: $color-grey-d1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      padding: 0 24px;
      flex-direction: row;
      justify-content: flex-start;
    }

    p {
      font-size: 0.6rem;

      @include respond(tab-land) {
        font-size: 0.9rem;
      }
    }

    .navigation__icon {
      margin: 0;
      width: 1.1rem !important;
      height: 1.1rem !important;

      @include respond(tab-port) {
        margin-bottom: 4px;
        height: 1.3rem !important;
        width: 1.3rem !important;
      }

      @include respond(tab-land) {
        margin-right: 22px;
        // color: $color-grey-d1;
        height: 1.3rem !important;
        width: 1.3rem !important;
      }
    }
  }

  &:hover {
    background-color: $color-grey-l3;
  }

  .active {
    background-color: transparent;
    color: $color-red;

    @include respond(tab-land) {
      color: $color-black
    }

    p {
      font-weight: 500;
    }

    @include respond(tab-land) {
      background-color: $color-grey-l4;
      .navigation-link {
        color: $color-black;
      }

      &:hover {
        background-color: $color-grey-l5;
      }

      svg {
        color: $color-red;
      }
    }
  }

  @include respond(tab-land) {
    height: 2.5rem;
  }
}

.main-nav__list-item.s {
  height: 4.4rem;
  &.hide {
    display: none;
  }

  .active {
    background-color: transparent;
  }

  .navigation-link {
    flex-direction: column;
    justify-content: center; 
    padding: 0;

    .navigation__icon {
      margin-bottom: 4px;
      margin-right: 0;
    }

    p {
      font-size: 0.6rem;
    }
  }
}

.main-nav__list-item.hide {
  display: none;

  @include respond(tab-land) {
    display: block;
  }
}

.side-nav__list-item {
  height: 2.5rem;

  .navigation-link {
    color: $color-grey-d1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    flex-direction: row;
    justify-content: flex-start;

    p {
      font-size: 0.9rem;
    }

    .navigation__icon {
      margin-right: 22px;
      height: 1.3rem !important;
      width: 1.3rem !important;
    }
  }

  &:hover {
    background-color: $color-grey-l3;
  }

  .active {
    color: $color-red;
    background-color: $color-grey-l4;

    &:hover {
      background-color: $color-grey-l5;
    }

    p {
      font-weight: 500;
    }

    .navigation-link {
      color: $color-black;
    }

    svg {
      color: $color-red;
    }
  }
}
