@import "../../../shared/sass/variables.scss";
@import "../../../shared/sass/mixins.scss";

.navigation-item {
  width: 100%;
  height: 2.5rem;
  
  .navigation-link {
    padding: 0 24px;
    display: flex;
    align-items: center;
    color: $color-grey-d1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    
    p {
      font-size: 0.9rem;
    }

    .navigation__icon {
      margin-right: 22px;
      // color: $color-grey-d1;
      height: 1.3rem !important;
      width: 1.3rem !important;
    }
  }



  &:hover {
    background-color: $color-grey-l3;
  }


  .active {
    background-color: $color-grey-l4;

    .navigation-link {
      color: $color-black;
    }

    p {
      font-weight: 500;
    }

    &:hover {
      background-color: $color-grey-l5;
    }

    svg {
      color: $color-red;
    }
  }
}
