@import "../../../shared/sass/variables.scss";
@import "../../../shared/sass/mixins.scss";

.spinner {
  width: 100%;
  height: 2px;
  display: inline-block;
//   position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  position: absolute;
  top: 3.5rem;
}
.spinner::after {
  content: "";
  width: 96px;
  height: 2px;
  background: $color-red;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 1s linear infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
