@import '../../shared/sass/variables.scss';
@import '../../shared/sass/mixins.scss';

.home {
    padding-top: 4.8rem;
    // padding-left: 16.25rem; 
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}