$color-red: rgb(255, 0, 0);
$color-white: #ffffff;
$color-blue: rgb(6, 95, 212);


$color-black: rgb(9, 9, 9);

$color-grey-d1: rgb(99, 99, 99);
$color-grey-d2: rgb(131, 131, 131);

// $color-ll-grey: rgb(248, 248, 248);
$color-l-grey: rgb(211, 211, 211);

$color-grey-l1: rgb(248, 248, 248);
$color-grey-l2: rgb(240, 240, 240);
$color-grey-l3: rgb(242, 242, 242);
$color-grey-l4: rgb(229, 229, 229);
$color-grey-l5: rgb(217, 217, 217);
$color-grey-l6: rgb(207, 207, 207);

$shadow-1: 0 1px 0 rgba(0, 0, 0, 0.1);

// rgb(248, 248, 248) 1
// rgb(240, 240, 240) 2
// rgb(242, 242, 242) 3
// rgb(229, 229, 229) 4
// rgb(217, 217, 217) 5
// rgb(207, 207, 207) 6